<mat-toolbar color="primary">
  <!-- Menu Icon -->
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Logo -->
  <img class="logo" src="assets/Ganga.svg" />

  <!-- AppName -->
  <span class="appname">Employee Maintenance</span>

  <!-- Spacer -->
  <span class="spacer"></span>

  <!-- Theming MenuButton -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>color_lens</mat-icon>
  </button>

  <!-- Theming Menu -->
  <mat-menu class="theming" #menu="matMenu">
    <mat-nav-list mat-list-item *ngFor="let theme of themes" dense>
      <h4 matSubheader>{{ theme.ThemeGroup }}</h4>
      <button
        *ngFor="let detail of theme.Details"
        mat-menu-item
        (click)="ChangeTheme([detail.theme])"
        [ngClass]="{ activeTheme: detail.theme == [SelectedThemeIndicator] }"
      >
        <mat-icon>color_lens</mat-icon>
        <span>{{ detail.name }}</span>
      </button>
    </mat-nav-list>
  </mat-menu>

  <!-- User MenuButton -->
  <button mat-icon-button [matMenuTriggerFor]="user" *ngIf="isLoggedIn">
    <mat-icon>face</mat-icon>
  </button>

  <!-- User Menu -->
  <mat-menu class="userdetails" #user="matMenu">
    <div class="userdetailcard">
      <img id="userimage" class="user-image" src="{{ displayImage() }}" />
      <mat-list>
        <mat-list-item role="listitem" class="nameemail">
          <div mat-line class="user-name">{{ showDisplayName() }}</div>
          <div mat-line class="user-email">{{ showEmail() }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-menu-item class="manageuser">
            Manage your Account Details
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div class="logout">
          <button mat-raised-button color="primary" (click)="Logout()">
            <mat-icon>logout</mat-icon>
            L O G O U T
          </button>
        </div>
      </mat-list>
    </div>
  </mat-menu>
</mat-toolbar>
