mat-toolbar {
  position: relative;
  .logo {
    padding: 0px 10px;
  }
  .appname {
    padding: 0px 10px;
    font-size: 1.35em;
    font-weight: 200;
  }
  .spacer {
    flex: 1 1 auto;
  }
}

.activeTheme {
  background-color: rgba($color: #000000, $alpha: 0.1);
  mat-icon {
    color: goldenrod;
  }
}
