<mat-toolbar color="primary" mat-elevation-z8>
  <button
    mat-icon-button
    aria-label="Example icon-button with a menu"
    (click)="toggleSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <img class="logo" src="assets/Ganga.svg" />
  <span class="appname">Employee Maintenance</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>color_lens</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <mat-nav-list mat-list-item
      ><h4 matSubheader>Light Themes</h4>
    </mat-nav-list>
    <button mat-menu-item>
      <mat-icon>color_lens</mat-icon>
      <span>Light Theme 1</span>
    </button>
    <button mat-menu-item>
      <mat-icon>color_lens</mat-icon>
      <span>Light Theme 2</span>
    </button>
    <mat-divider></mat-divider>
    <mat-nav-list mat-list-item
      ><h4 matSubheader>Dark Themes</h4>
    </mat-nav-list>
    <button mat-menu-item>
      <mat-icon>color_lens</mat-icon>
      <span>Dark Theme 1</span>
    </button>
    <button mat-menu-item>
      <mat-icon>color_lens</mat-icon>
      <span>Dark Theme 2</span>
    </button>
  </mat-menu>
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
