mat-toolbar {
  position: relative;
  .logo {
    padding: 0px 10px;
  }
  .appname {
    padding: 0px 10px;
    font-size: 1.35em;
    font-weight: 200;
  }
  .spacer {
    flex: 1 1 auto;
  }
}
::ng-deep .cdk-overlay-pane .userdetails {
  .userdetailcard {
    display: flex;
    flex-direction: column;
    padding: 15px 0px 10px 0px;
    place-items: center center;

    .user-image {
      width: 85px;
      height: 85px;
      border-radius: 50%;
    }
    mat-list {
      display: grid;
      grid-auto-rows: min-content;
      .nameemail {
        display: grid;
        grid-auto-rows: min-content;
        .user-name {
          padding: 10px 25px 0 25px;
          margin: 0px;
          font-size: 1.25em;
          text-align: center;
        }
        .user-email {
          padding: 5px 25px 10px 25px;
          margin: 0px;
          font-size: 0.85em;
          text-align: center;
        }
      }
      .mat-list-item-content {
        margin: 0;
        padding: 0;
      }
      .manageuser {
        width: 100%;
        text-align: center;
      }
      .logout {
        display: grid;
        grid-template-rows: auto;
        place-items: center center;

        button {
          border-radius: 20px;
        }

        mat-icon {
          padding-right: 10px;
        }
        margin-top: 15px;
      }
    }
  }
}

.activeTheme {
  background-color: rgba($color: #000000, $alpha: 0.15);
  mat-icon {
    color: goldenrod;
  }
}
