<div class="maincontainer">
  <div class="header">
    <mat-toolbar color="primary" mat-elevation-z8>
      <span>Employee Maintenance</span>
      <span class="spacer"></span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>color_lens</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-button disabled>
          <span>Light Themes</span>
        </button>
        <button mat-menu-item>
          <mat-icon>color_lens</mat-icon>
          <span>Light Theme 1</span>
        </button>
        <button mat-menu-item>
          <mat-icon>color_lens</mat-icon>
          <span>Light Theme 2</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button disabled>
          <span>Dark Themes</span>
        </button>
        <button mat-menu-item>
          <mat-icon>color_lens</mat-icon>
          <span>Dark Theme 1</span>
        </button>
        <button mat-menu-item>
          <mat-icon>color_lens</mat-icon>
          <span>Dark Theme 2</span>
        </button>
      </mat-menu>
      <button mat-icon-button aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="content">
    <mat-drawer-container class="sidenav-container" autosize>
      <mat-drawer #drawer class="sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
      </mat-drawer>
      <div class="sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur ullam explicabo et quaerat atque modi at! Cumque aliquid
          dolor velit exercitationem labore maxime sit? Laboriosam enim
          praesentium facere error.
        </p>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div>
  <div class="footer">
    Copyright: All rights reserved by Rahul Pol.
  </div>
</div>
