:host {
  height: 100%;
  overflow: hidden;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    .sidenav-container {
      flex: 1;
      // background-color: yellow;
    }

    .sidenav {
      width: 220px;
      border-style: none;
    }
    .sidenav-content {
      // background-color: blue;
    }
  }
}
