:host {
  height: 100%;
  overflow: hidden;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    mat-toolbar {
      position: relative;
      .logo {
        padding: 0px 10px;
      }
      .appname {
        padding: 0px 10px;
        font-size: 1.35em;
        font-weight: 200;
      }
      .spacer {
        flex: 1 1 auto;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    .sidenav-container {
      background-color: yellow;
    }
    .sidenav {
      background-color: red;
      padding: 20px;
    }
    .sidenav-content {
      padding: 20px;
      background-color: yellow;
    }
  }
  .footer {
    padding: 10px;
    background-color: #1e1e1e;
    color: wheat;
  }
}
