<div class="maincontainer">
  <div class="header">
    <app-header (toggleSidebarEvent)="sidebarToggler($event)"></app-header>
  </div>
  <div class="content">
    <mat-drawer-container class="sidenav-container" autosize>
      <mat-drawer #drawer class="sidenav" mode="side" [opened]="sidebarOpen">
        <app-sidebar></app-sidebar>
      </mat-drawer>
      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
