<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>L O G I N</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="UserID / Email" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-raised-button>LOGIN</button>
  </mat-card-actions>
</mat-card>
