<mat-card class="login-card mat-elevation-z5">
  <mat-card-header>
    <mat-toolbar color="primary" class="loginicon mat-elevation-z8">
      <mat-icon>vpn_key</mat-icon>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="UserID / Email" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-raised-button>LOGIN</button>
  </mat-card-actions>
</mat-card>
