<mat-card class="login-card mat-elevation-z5">
  <mat-card-header>
    <mat-toolbar color="primary" class="loginicon mat-elevation-z8">
      <mat-icon id="StateIcon">vpn_key</mat-icon>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <form
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(loginForm.value)"
    >
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
        />
      </mat-form-field>
      <mat-form-field class="full-width" *ngIf="registermode">
        <input
          matInput
          placeholder="Confirm Password"
          type="password"
          formControlName="confpassword"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button id="LoginButton" color="primary" mat-raised-button type="submit">
      L O G I N
    </button>
    <a id="StateButton" mat-button (click)="ChangeState()"
      >New User ? ..... Click here to Register.....</a
    >
  </mat-card-actions>
</mat-card>
