:host {
  height: 100%;
  display: grid;
  place-items: center center;
  overflow-y: auto;
}

.login-card {
  width: 400px;
  border-radius: 20px;
  background-color: rgba($color: #000000, $alpha: 0.08);
  display: grid;
  grid-template-rows: min-content auto min-content;
  // animation-name: bounceInLeft;
  // animation-duration: 1s;
  // animation-delay: 0s;
  // animation-iteration-count: initial;

  mat-card-header {
    display: grid;
    grid-template-rows: auto;
    place-content: stretch stretch;
    background-color: rgba($color: #000000, $alpha: 0.12);
    margin: -16px;
    padding: 30px;
    border-radius: 20px 20px 0 0;

    .loginicon {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: grid;
      place-self: center center;
      margin: -100px;
      padding: 10px;
      mat-icon {
        border-radius: 50%;
        display: grid;
        place-self: center center;
        animation-name: heartBeat;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
      }
    }
  }

  mat-card-content {
    display: grid;
    grid-template-rows: auto;
    place-content: stretch stretch;
    padding-top: 50px;

    .login-form {
      font-size: 1.15em;
      min-width: 150px;
      max-width: 500px;
      display: grid;
      grid-template-rows: auto min-content;

      mat-icon {
        font-size: 1.1em;
        color: #615d5d;
      }

      .submitbuttons {
        display: grid;
        grid-template-rows: auto;
        row-gap: 10px;
        padding-top: 20px;
        #LoginButton {
          border-radius: 13px;
          height: 50px;
          font-size: 1.15em;
        }
        .secondarybuttons {
          display: flex;
          .spacer {
            flex: 1 1 auto;
          }
        }
      }
    }
  }
}

.full-width {
  width: 100%;
}
