.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  max-height: 600px;
  border: 1px dashed #f16624;
  border-radius: 5px;
  background: rgba($color: #000000, $alpha: 0.06);
  margin: 5px 0;
  padding: 10px 20px 10px 10px;

  &.hovering {
    border: 1px solid #f16624;
    background: rgba($color: #000000, $alpha: 0.12);
  }

  .filecontrols {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .imagecropper {
      image-cropper {
        width: 200px;
      }
    }
  }

  img {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 300px;
  }
}
