<div
  class="dropzone"
  appDragdrop
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering"
>
  <div class="filecontrols" *ngIf="!hasImage">
    <p>Drag and Drop a File</p>
    <p>--- or ---</p>
    <p>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="file.click()"
      >
        Choose File
      </button>
      <input
        hidden
        mat-button
        #file
        type="file"
        accept="image/*"
        (change)="fileChangeEvent($event)"
      />
    </p>
  </div>
  <div class="imagecropper">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [imageBase64]="droppedImage"
      [maintainAspectRatio]="true"
      [containWithinAspectRatio]="containWithinAspectRatio"
      [aspectRatio]="1 / 1"
      [resizeToWidth]="200"
      [cropperMinWidth]="128"
      [onlyScaleDown]="true"
      [roundCropper]="false"
      [canvasRotation]="canvasRotation"
      [transform]="transform"
      [alignImage]="'center'"
      [style.display]="showCropper ? null : 'none'"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
    ></image-cropper>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button
    mat-button
    [mat-dialog-close]=""
    (click)="CropAndUploadFile()"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
