<div
  class="dropzone"
  appDragdrop
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering"
>
  <div class="filecontrols" *ngIf="!hasImage">
    <p>Drag and Drop a File</p>
    <p>--- or ---</p>
    <p>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="file.click()"
      >
        Choose File
      </button>
      <input
        hidden
        mat-button
        #file
        type="file"
        accept="image/*"
        (change)="fileChangeEvent($event)"
      />
    </p>
  </div>
  <div class="imagecropper" *ngIf="hasImage">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [imageBase64]="droppedImage"
      [maintainAspectRatio]="true"
      [containWithinAspectRatio]="containWithinAspectRatio"
      [aspectRatio]="1 / 1"
      [resizeToWidth]="300"
      [cropperMinWidth]="128"
      [onlyScaleDown]="true"
      [roundCropper]="false"
      [canvasRotation]="canvasRotation"
      [transform]="transform"
      [alignImage]="'center'"
      [style.display]="showCropper ? null : 'none'"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
    ></image-cropper>
    <div class="imagebuttons">
      <button mat-icon-button matTooltip="Zoom In" (click)="ZoomIn()">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Zoom Out" (click)="ZoomOut()">
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Reset Image" (click)="ResetImage()">
        <mat-icon>crop_din</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Rotate Left" (click)="RotateLeft()">
        <mat-icon>rotate_left</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Rotate Right" (click)="RotateRight()">
        <mat-icon>rotate_right</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Clear Image" (click)="ClearImage()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button
    mat-button
    [mat-dialog-close]=""
    (click)="CropAndUploadFile()"
    [disabled]="!hasImage"
  >
    Ok
  </button>
</div>
<!-- cdkFocusInitial -->
