.strength-meter {
  font-size: 0.8em;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  padding: 10px 0 20px 0;

  .strength-text {
    text-align: right;
    font-weight: 400;
  }
  .strength-wrapper {
    margin: 10px 0;
    background: #ddd;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    position: relative;
    .strength-bars {
      background: #ffffff;
      width: 0;
      height: 100%;
      border-radius: 5px;
      transition: width 0.5s ease-in-out, background 0.25s;
    }
  }

  .feedbackcontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content;
    column-gap: 10px;
    row-gap: 5px;

    .strength-feedback {
      display: grid;
      grid-template-columns: min-content auto;
      align-items: center;
      column-gap: 10px;
      mat-icon {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        font-size: 20px;
        align-items: center;
      }
    }
  }

  &[data-strength-score="1"] {
    .strength-text {
      color: darkred;
    }
    .strength-wrapper {
      .strength-bars {
        background: darkred;
        width: 20%;
      }
    }
  }

  &[data-strength-score="2"] {
    .strength-text {
      color: #d24848;
    }
    .strength-wrapper {
      .strength-bars {
        background: #d24848;
        width: 40%;
      }
    }
  }
  &[data-strength-score="3"] {
    .strength-text {
      color: rgb(116, 143, 69);
    }
    .strength-wrapper {
      .strength-bars {
        background: rgb(116, 143, 69);
        width: 60%;
      }
    }
  }
  &[data-strength-score="4"] {
    .strength-text {
      color: rgb(105, 136, 51);
    }
    .strength-wrapper {
      .strength-bars {
        background: rgb(105, 136, 51);
        width: 80%;
      }
    }
  }
  &[data-strength-score="5"] {
    .strength-text {
      color: darkolivegreen;
    }
    .strength-wrapper {
      .strength-bars {
        background: darkolivegreen;
        width: 100%;
      }
    }
  }
}
