<div class="strength-meter" [attr.data-strength-score]="score">
  <div class="strength-text">{{ strengthText }}</div>
  <div class="strength-wrapper">
    <div class="strength-bars"></div>
  </div>
  <div class="feedbackcontainer">
    <div class="strength-feedback" *ngFor="let item of feedbackArr">
      <mat-icon [ngStyle]="{ color: item.status ? 'green' : 'red' }">
        {{ item.status ? "check" : "close" }}
      </mat-icon>
      <mat-label>
        {{ item.label }}
      </mat-label>
    </div>
  </div>
</div>
