:host {
  height: 100%;
  display: grid;
  place-items: stretch stretch;
  overflow-y: hidden;
  padding: 30px;
}
.container {
  display: grid;
  grid-template-rows: min-content auto;
  width: 100%;
  overflow-y: hidden;
  padding-bottom: 60px;

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .tablestructure {
    height: 100%;
    display: grid;
    grid-template-rows: auto min-content;
    overflow-y: hidden;

    .tablecontent {
      height: 100%;
      display: grid;
      overflow-y: auto;
      background-color: rgba($color: #000000, $alpha: 0.05);

      table {
        td,
        th {
          padding: 0 10px 0 10px;
        }
        .mat-row:nth-child(even) {
          background-color: rgba($color: #000000, $alpha: 0.08);
        }
      }
    }
  }
}
