:host {
  height: 100%;
  display: grid;
  place-items: stretch stretch;
  overflow-y: hidden;
  padding: 30px;
}
.container {
  display: grid;
  grid-template-rows: min-content auto;
  width: 100%;
  overflow-y: hidden;
  padding-bottom: 60px;

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .tablecontent {
    overflow-y: auto;

    table {
      width: 100%;
      td,
      th {
        width: 25%;
      }
    }
  }
}
