@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/theming";
@include mat-core();

$GangaLight1-primary: mat-palette($mat-blue-gray, 700, 600, 900);
$GangaLight1-accent: mat-palette($mat-cyan);
$GangaLight1-warn: mat-palette($mat-red);
$GangaLight1-theme: mat-light-theme(
  $GangaLight1-primary,
  $GangaLight1-accent,
  $GangaLight1-warn
);

$GangaDark1-primary: mat-palette($mat-grey, 800, 600, 900);
$GangaDark1-accent: mat-palette($mat-amber);
$GangaDark1-warn: mat-palette($mat-deep-orange);
$GangaDark1-theme: mat-dark-theme(
  $GangaDark1-primary,
  $GangaDark1-accent,
  $GangaDark1-warn
);

.GangaLightTheme1 {
  @include angular-material-theme($GangaLight1-theme);
}
.GangaDarkTheme1 {
  @include angular-material-theme($GangaDark1-theme);
}
.DeepPurpleAmberLightTheme {
  @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
}
.IndigoPinkLightTheme {
  @import "~@angular/material/prebuilt-themes/indigo-pink.css";
}
.PinkBlueGreyDarkTheme {
  @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
}
.PurpleGreenDarkTheme {
  @import "~@angular/material/prebuilt-themes/purple-green.css";
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
